.contactNetyFooter {
    font-size: 16px;
    font-weight: 400;
    white-space: inherit;
}
.footerPro .contactNetyFooter .wpb_wrapper{
    flex-direction: column;
    align-items: start;
}
.footerPro .block-categories .collapse-icons{
   right: -15px;
}

.footer .footer-style-15 {
    margin-bottom: 0px !important;
}
footer{
    position: relative;
    bottom: 0;
}
#password footer{
    // @media (min-width:992px) {
    //     bottom: -15vh;
    // }  

    @media screen and (max-width: 992px),  screen and (max-height: 768px) {
        bottom: -15vh; 
    }

    @media screen and (min-width: 992px),  screen and (min-height: 768px) {
        bottom: -25vh; 
    }
    @media screen and (min-width: 1200px),  screen and (min-height: 1032px) {
        bottom: -55vh; 
    }
    


}

 
.footerDiwan .footerList .wpb_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    .logoNetyDiwan{width: 100px;}
}
.copyrigths {
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .vc_col-sm-4 {
        width: auto !important
    }

    h6 {
        color: #FFFFFF;
        opacity: 69%;
    }

    a {
        color: #FFFFFF;
        opacity: 69%;
        font-size: 16px;

        &:active,
        &:focus,
        &:hover {
            color: $Jaune;
            opacity: 1;
            text-decoration: none;
        }
    }
}

.social {
    width: 15%;

    .footerLink {
        color: $Jaune;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }

    .footerLink:lang(ar) {
        font-weight: 600;
    }

    p {
        color: $Jaune;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
    }

    p:lang(ar) {
        text-align: right
    }

    a {
        font-size: 15px;
        font-weight: 400;
        color: white;
        font-family: 'Azo Sans', 'sans-serif' !important;
    }

    a:lang(ar) {
        font-size: 17px;
        font-weight: 600;
    }

    .links ul {
        display: flex;
        flex-direction: column;

        .list-inline-item:not(:last-child) {
            margin-left: 0 !important
        }
    }
}



.footerLogo {
    width: 10%;
    display: flex;
    justify-content: center;
}

.logoFooter {
    width: auto;
    padding-left: 0px !important;

    img {
        height: 70px;
        width: auto;
    }
}


.nov-socials li a {
    color: $violet;
    background: white;
    padding: 1px 4px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.block-socials {
    text-align: left;
}

.block-socials:lang(ar) {
    text-align: right
}

.nov-categorylinks li:not(:last-child) {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;

}

.nov-categorylinks {
    a {
        font-family: 'Azo Sans', 'sans-serif' !important;

        &:hover {
            color: white;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    ul li {
        margin-left: 0px !important;
        font-family: 'Azo Sans', 'sans-serif' !important;
    }
}

.list_services {
    display: flex;
    flex-direction: column;
}

.footerContainer:lang(ar) {
    width: auto !important;
    // left: 0 !important;
}

.footerContainer {
    padding: 0 2%;
    // width: auto !important;
    // left: 0 !important;
}

.social_facebook .fa {
    padding: 1px 3px !important;
}

.footer .title_footer {
    font-size: 16px !important;
    text-transform: capitalize !important;
}

.footerList {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.block-categories .category-sub-menu li[data-depth="0"]>a {
    color: #fdec25;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    pointer-events: none;
}

.block-categories .category-sub-menu li[data-depth="1"]>a:lang(ar),
.block-categories .category-sub-menu li[data-depth="0"]>a:lang(ar) {
    font-weight: 600;
}

.block-categories .category-sub-menu li[data-depth="1"]:lang(ar) {
    padding-right: 0px;
}

.block-categories .category-sub-menu li[data-depth="1"] {
    padding-left: 0px;

    &:hover,
    &:focus,
    &:active {
        color: white;
    }
}


.block-categories .category-sub-link {
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-transform: capitalize;

    &::before {
        display: none;
    }
}



.socialContact {
    width: auto;
}

@media(max-width: 1200px) {

    .block-categories .category-sub-menu li[data-depth="1"]>a,
    .footerList .block-categories .category-sub-menu li[data-depth="0"]>a,
    .block-categories .category-sub-link {
        font-size: 13px
    }

    .block-categories .category-sub-menu li[data-depth="1"]>a:lang(ar),
    .footerList .block-categories .category-sub-menu li[data-depth="0"]>a:lang(ar),
    .block-categories .category-sub-link:lang(ar) {
        font-size: 15px
    }

    .social {

        .footerLink,
        a,
        p {
            font-size: 13px
        }
    }

    .logoFooter img {
        height: 60px;
    }
}

@media(max-width: 992px) {
    .contactFooter {
        white-space: normal;
    }

    .contactNetyFooter span {
        white-space: nowrap
    }

}

@media(max-width:992px)and (min-width: 768px) {

    .vc_custom_1683632036223,
    .block-categories .category-sub-menu li[data-depth="0"] {
        border-bottom: none !important;
    }

    .footerLogo {
        width: 15%
    }

    .footerList {
        justify-content: flex-start
    }

    .social {
        // width: 20%;
        width: 30%;

        .list-inline-item:not(:last-child) {
            margin-left: 0px
        }

        a {
            white-space: nowrap
        }
    }

    .footerList {
        justify-content: center;
    }

    .socialContact {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        .contactNetyFooter {
            text-align: center
        }

        .nov-socials {
            display: flex;
            justify-content: center
        }
    }
}

@media(max-width: 768px) {
    .contactFooter {
        white-space: normal;
        padding-top: 22px;
    }

    .footer {
        margin-bottom: 0px !important
    }

    .footerList .vc_col-sm-2 {
        display: flex;
        width: 50%;
        justify-content: flex-start; // justify-content: center;

    }

    .social {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .vc_column-inner {
            width: 150px
        }

        a:lang(ar) {
            text-align: right;
        }

        a,
        p,
        p:lang(ar) {
            text-align: center;
        }

        .links ul {
            align-items: center;
        }

        .block_content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    .footerContainer {
        display: flex;
        justify-content: center;
    }

    .list_services {
        align-items: center;
    }

    .logoFooter {
        text-align: center !important;
        width: 100%;
    }

    .block-socials {
        text-align: center;
    }

    .footerList .nov-categorylinks ul {
        align-items: center
    }

    .links ul li a {
        white-space: nowrap;
        padding: 5px 0;
    }

    .footerLogo {
        width: 100% !important
    }

    .socialContact {
        width: 100% !important;

        .contactNetyFooter {
            display: flex;
            justify-content: center;

            p {
                text-align: left
            }
            p:lang(ar){text-align: right;}
        }
    }
}


@media (max-width: 768px) and (min-width: 577px) {
    .social {
        width: 50%;
    }
}

@media(max-width: 576px) {


    
    .social {
        width: 100%
    }

    .copyrigths h6 {
        font-size: 13px
    }

    .footerList .vc_col-sm-2 {
        width: 100%
    }

    .vc_custom_1683632036223,
    .block-categories .category-sub-menu li[data-depth="0"] {
        border-bottom: none
    }

    .block-categories .category-sub-menu li[data-depth="1"] {
        text-align: center
    }

}
